@import "tailwindcss";

@import "flowbite/src/themes/default";


nav,
nav ul {
    background-color: black;
}

.link-pers a, span, button {
    color: white;
}

.hero-perso {
    margin-top: 50px;
}

.offers {
    border: 2px solid red;
}